adf/PL_Ctrl_To_Vigie.json
{
    "name": "PL_Ctrl_To_Vigie",
    "properties": {
        "activities": [
            {
                "name": "LK_Read_CtrlJson",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set Control_Path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_Bronze_Ctrl_JSON_V2",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": {
                                "value": "@variables('v_control_path')",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "SP_Upsert_VigieCtrl",
                "description": "Update les resultats du WebActivity surtout le rowcount et le Start en End TS",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Until_Get_ADF_Metrics",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[sp_upsert_vigie_ctrl]",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "dataset": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.dataset",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "periodicity": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.periodicity",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "extraction_date": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.extraction_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "expected_rows": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.expected_rows",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "source_system": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.source_system",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "created_ts": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.created_ts",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_start_ts": {
                            "value": {
                                "value": "@activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][1]",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_pipeline_name": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_trigger_name": {
                            "value": {
                                "value": "@pipeline().TriggerName",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "pipeline_run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "row_count_adf_ingestion_copie_parquet": {
                            "value": {
                                "value": "@activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][0]",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_end_ts": {
                            "value": {
                                "value": "@activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][2]",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_duration_sec": {
                            "value": {
                                "value": "@activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][3]",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "SC_Update_In_Progress",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "IF_Enable_Synapse_Validation",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "ctrl_id",
                                    "type": "String",
                                    "value": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "Query",
                            "text": "UPDATE dbo.vigie_ctrl\nSET status_global = 'IN_PROGRESS'\nWHERE ctrl_id = @ctrl_id;\n"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "v_parquet_path",
                "description": "",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "v_bronze_path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "v_parquet_path",
                    "value": {
                        "value": "@concat(\n  'standardized/',\n  activity('LK_Read_CtrlJson').output.firstRow.dataset,\n  '/year=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,0,4),\n  '/month=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,5,2),\n  '/day=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,8,2),\n  '/*.parquet'\n)\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "v_bronze_path",
                "description": "",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "SP_Set_Start_TS_OEIL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "v_bronze_path",
                    "value": {
                        "value": "@concat(\n  'bronze/',\n  activity('LK_Read_CtrlJson').output.firstRow.dataset,\n  '/period=',\n  activity('LK_Read_CtrlJson').output.firstRow.periodicity,\n  '/year=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,0,4),\n  '/month=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,5,2),\n  '/day=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,8,2),\n  '/data/*.csv'\n)\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SP_SLA_Compute_OEIL",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "SP_Set_End_TS_OEIL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "dbo.SP_Compute_SLA_OEIL",
                    "storedProcedureParameters": {
                        "p_ctrl_id": {
                            "value": {
                                "value": "@{pipeline().parameters.p_ctrl_id}",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "WEB_Get_LogAnalytics_Token",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "v_parquet_path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "url": "https://login.microsoftonline.com/9efa3aee-91e4-46cb-a42d-157e10be0b3f/oauth2/v2.0/token",
                    "body": "grant_type=client_credentials\n&client_id=616f9a3f-e6e8-45e8-a63e-5fd59ffcd73e\n&client_secret=<<REPLACE_WITH_SECRET>>\n&scope=https://api.loganalytics.io/.default"
                }
            },
            {
                "name": "IF_Enable_Synapse_Validation",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "SC_Set_Volume_Check",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(pipeline().parameters.enable_synapse_validation, true)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Set v dataset",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "v_dataset",
                                "value": {
                                    "value": "@activity('LK_Read_CtrlJson').output.firstRow.dataset",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Set v periodicity",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Set v dataset",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "v_periodicity",
                                "value": {
                                    "value": "@activity('LK_Read_CtrlJson').output.firstRow.periodicity",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Set V extraction date",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Set v periodicity",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "v_extraction_date",
                                "value": {
                                    "value": "@activity('LK_Read_CtrlJson').output.firstRow.extraction_date",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "EP Synapse Asynch Count",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "SC_Set_Synapse_Start_TS",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "PL_Synapse_Count_By_Partition",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "p_dataset": {
                                        "value": "@variables('v_dataset')",
                                        "type": "Expression"
                                    },
                                    "p_periodicity": {
                                        "value": "@variables('v_periodicity')",
                                        "type": "Expression"
                                    },
                                    "p_bronze_path": {
                                        "value": "@variables('v_bronze_path')",
                                        "type": "Expression"
                                    },
                                    "p_parquet_path": {
                                        "value": "@variables('v_parquet_path')",
                                        "type": "Expression"
                                    },
                                    "p_extraction_date": {
                                        "value": "@variables('v_extraction_date')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        },
                        {
                            "name": "SC_Update_Bronze_From_Cache_copy1",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "EP Synapse Asynch Count",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "LS_AzureSQL_Vigie",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "parameters": [
                                            {
                                                "name": "ctrl_id",
                                                "type": "String",
                                                "value": {
                                                    "value": "@pipeline().parameters.p_ctrl_id",
                                                    "type": "Expression"
                                                },
                                                "direction": "Input"
                                            }
                                        ],
                                        "type": "Query",
                                        "text": "UPDATE v\nSET\n    v.bronze_rows  = c.row_count,\n    v.bronze_delta = c.row_count - v.expected_rows,\n    v.bronze_status =\n        CASE\n            WHEN c.row_count = v.expected_rows THEN 'OK'\n            WHEN c.row_count IS NULL THEN 'MISSING'\n            ELSE 'MISMATCH'\n        END\nFROM dbo.vigie_ctrl v\nLEFT JOIN dbo.synapse_rowcount_cache c\n    ON  c.dataset = v.dataset\n    AND c.periodicity = v.periodicity\n    AND c.extraction_date = v.extraction_date\n    AND c.layer = 'BRONZE'\nWHERE v.ctrl_id = @ctrl_id;"
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        },
                        {
                            "name": "SC_Update_Parquet_From_Cache_copy1",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "SC_Update_Bronze_From_Cache_copy1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "LS_AzureSQL_Vigie",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "parameters": [
                                            {
                                                "name": "ctrl_id",
                                                "type": "String",
                                                "value": {
                                                    "value": "@pipeline().parameters.p_ctrl_id",
                                                    "type": "Expression"
                                                },
                                                "direction": "Input"
                                            }
                                        ],
                                        "type": "Query",
                                        "text": "UPDATE v\nSET\n    v.parquet_rows  = c.row_count,\n    v.parquet_delta = c.row_count - v.expected_rows,\n    v.parquet_status =\n        CASE\n            WHEN c.row_count = v.expected_rows THEN 'OK'\n            WHEN c.row_count = 0 THEN 'EMPTY'\n            WHEN c.row_count IS NULL THEN 'MISSING'\n            ELSE 'KO'\n        END\nFROM dbo.vigie_ctrl v\nLEFT JOIN dbo.synapse_rowcount_cache c\n    ON  c.dataset = v.dataset\n    AND c.periodicity = v.periodicity\n    AND c.extraction_date = v.extraction_date\n    AND c.layer = 'PARQUET'\nWHERE v.ctrl_id = @ctrl_id;\n"
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        },
                        {
                            "name": "SC_Set_Synapse_Start_TS",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "Set V extraction date",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "LS_AzureSQL_Vigie",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "parameters": [
                                            {
                                                "name": "ctrl_id",
                                                "type": "String",
                                                "value": {
                                                    "value": "@pipeline().parameters.p_ctrl_id",
                                                    "type": "Expression"
                                                },
                                                "direction": "Input"
                                            }
                                        ],
                                        "type": "Query",
                                        "text": "UPDATE dbo.vigie_ctrl\nSET synapse_start_ts = SYSUTCDATETIME()\nWHERE ctrl_id = @ctrl_id\n  AND synapse_start_ts IS NULL;\n"
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        },
                        {
                            "name": "SC_Set_Synapse_End_TS",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "SC_Update_Parquet_From_Cache_copy1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "LS_AzureSQL_Vigie",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "parameters": [
                                            {
                                                "name": "ctrl_id",
                                                "type": "String",
                                                "value": {
                                                    "value": "@pipeline().parameters.p_ctrl_id",
                                                    "type": "Expression"
                                                },
                                                "direction": "Input"
                                            }
                                        ],
                                        "type": "Query",
                                        "text": "DECLARE @start_ts datetime2;\nDECLARE @end_ts datetime2;\nDECLARE @duration_sec int;\n\nSET @end_ts = SYSUTCDATETIME();\n\nSELECT\n    @start_ts = synapse_start_ts\nFROM dbo.vigie_ctrl\nWHERE ctrl_id = @ctrl_id;\n\nIF @start_ts IS NULL\nBEGIN\n    UPDATE dbo.vigie_ctrl\n    SET\n        synapse_end_ts = @end_ts,\n        synapse_duration_sec = NULL\n    WHERE ctrl_id = @ctrl_id;\n    RETURN;\nEND;\n\nSET @duration_sec = DATEDIFF(SECOND, @start_ts, @end_ts);\n\nUPDATE dbo.vigie_ctrl\nSET\n    synapse_end_ts = @end_ts,\n    synapse_duration_sec = @duration_sec\nWHERE ctrl_id = @ctrl_id;\n"
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        },
                        {
                            "name": "SP_Compute_SLA_SYNAPSE",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "SC_Set_Synapse_End_TS",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "SP_Compute_SLA_SYNAPSE",
                                "storedProcedureParameters": {
                                    "p_ctrl_id": {
                                        "value": {
                                            "value": "@pipeline().parameters.p_ctrl_id",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "LS_AzureSQL_Vigie",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "SC_Compute_Synapse_Cost_CAD",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "SP_Compute_SLA_SYNAPSE",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "LS_AzureSQL_Vigie",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "parameters": [
                                            {
                                                "name": "ctrl_id",
                                                "type": "String",
                                                "value": {
                                                    "value": "@pipeline().parameters.p_ctrl_id",
                                                    "type": "Expression"
                                                },
                                                "direction": "Input"
                                            }
                                        ],
                                        "type": "NonQuery",
                                        "text": "DECLARE @cost_per_min_cad decimal(10,6) = 0.002;  -- CAD / minute\n\nUPDATE dbo.vigie_ctrl\nSET\n    synapse_cost_rate_cad_per_min = @cost_per_min_cad,\n    synapse_cost_estimated_cad =\n        ROUND((synapse_duration_sec / 60.0) * @cost_per_min_cad, 6)\nWHERE ctrl_id = @ctrl_id\n  AND synapse_duration_sec IS NOT NULL;\n"
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        }
                    ]
                }
            },
            {
                "name": "SP_SLA_Compute_ADF",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "SC_Update_In_Progress",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "dbo.SP_Compute_SLA_ADF",
                    "storedProcedureParameters": {
                        "p_ctrl_id": {
                            "value": {
                                "value": "@{pipeline().parameters.p_ctrl_id}",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "SP_Set_Start_TS_OEIL",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "LK_Read_CtrlJson",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "SP_Set_Start_TS_OEIL",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "dataset": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.dataset",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "periodicity": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.periodicity",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "extraction_date": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.extraction_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Until_Get_ADF_Metrics",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "WEB_Get_LogAnalytics_Token",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(equals(activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][0], null))\n\n",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "WEB_ADF_RowCount_Copie_Parquet",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "POST",
                                "headers": {
                                    "Authorization": {
                                        "value": "Bearer @{activity('WEB_Get_LogAnalytics_Token').output.access_token}",
                                        "type": "Expression"
                                    }
                                },
                                "url": "https://api.loganalytics.io/v1/workspaces/779df75a-6290-4ecc-a0a0-41e228dfff13/query",
                                "body": {
                                    "value": "@replace(\n'{\"query\":\"ADFActivityRun | extend up=parse_json(UserProperties) | where tostring(up.p_ctrl_id)==\\\"__CTRL_ID__\\\" | where Status==\\\"Succeeded\\\" | extend o=parse_json(Output) | extend rc=tolong(o.rowsCopied) | where isnotnull(rc) | summarize row_count_adf_ingestion_copie_parquet=max(rc), adf_start_ts=min(Start), adf_end_ts=max(End) | extend adf_duration_sec=datetime_diff(\\\"second\\\",adf_end_ts,adf_start_ts) | project row_count_adf_ingestion_copie_parquet,adf_start_ts,adf_end_ts,adf_duration_sec\"}',\n'__CTRL_ID__',\npipeline().parameters.p_ctrl_id\n)\n",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "If_Has_RowCount",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "WEB_ADF_RowCount_Copie_Parquet",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@not(equals(activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][0], null))\n\n",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Attend 30 sec",
                                        "type": "Wait",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "waitTimeInSeconds": 30
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "timeout": "00:05:00"
                }
            },
            {
                "name": "SP_Set_End_TS_OEIL",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "SP_SLA_Compute_ADF",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "SP_Set_End_TS_OEIL",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@pipeline().parameters.p_ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Set Control_Path",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "SP_Try_Start_OEIL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "v_control_path",
                    "value": {
                        "value": "@concat(\n  split(pipeline().parameters.p_ctrl_id, '_')[0],\n  '/period=',\n  split(pipeline().parameters.p_ctrl_id, '_')[2],\n  '/year=',\n  split(split(pipeline().parameters.p_ctrl_id, '_')[1], '-')[0],\n  '/month=',\n  split(split(pipeline().parameters.p_ctrl_id, '_')[1], '-')[1],\n  '/day=',\n  split(split(pipeline().parameters.p_ctrl_id, '_')[1], '-')[2],\n  '/ctrl/',\n  pipeline().parameters.p_ctrl_id,\n  '.ctrl.json'\n)\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SP_Try_Start_OEIL",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "SP_Try_Start_OEIL",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@pipeline().parameters.p_ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "SC_Mark_OEIL_Completed",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "SC_Ajuste Alert FLAG",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "ctrl_id",
                                    "type": "String",
                                    "value": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "Query",
                            "text": "UPDATE dbo.vigie_ctrl\nSET status_global = 'COMPLETED'\nWHERE ctrl_id = @ctrl_id;\n"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "SC_Set_OEIL_Bucket",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "SP_SLA_Compute_OEIL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "ctrl_id",
                                    "type": "String",
                                    "value": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "Query",
                            "text": "UPDATE dbo.vigie_ctrl\nSET sla_bucket =\n    CASE\n        WHEN duration_sec IS NULL\n          OR oeil_sla_expected_sec IS NULL\n          OR oeil_sla_threshold_sec IS NULL\n            THEN 'UNKNOWN'\n\n        WHEN duration_sec <= oeil_sla_expected_sec\n            THEN 'FAST'\n\n        WHEN duration_sec <= oeil_sla_threshold_sec\n            THEN 'SLOW'\n\n        ELSE 'VERY_SLOW'\n    END\nWHERE ctrl_id = @ctrl_id;\n"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "SC_Set_Volume_Check",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "SP_Upsert_VigieCtrl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "ctrl_id",
                                    "type": "String",
                                    "value": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "Query",
                            "text": "UPDATE dbo.vigie_ctrl\nSET volume_status =\n    CASE\n        WHEN expected_rows IS NULL\n          OR expected_rows = 0\n            THEN 'UNKNOWN'\n\n        WHEN row_count_adf_ingestion_copie_parquet IS NULL\n            THEN 'MISSING'\n\n        WHEN ABS(row_count_adf_ingestion_copie_parquet - expected_rows) * 1.0 / expected_rows <= 0.05\n            THEN 'OK'\n\n        WHEN ABS(row_count_adf_ingestion_copie_parquet - expected_rows) * 1.0 / expected_rows <= 0.20\n            THEN 'WARNING'\n\n        ELSE 'ANOMALY'\n    END\nWHERE ctrl_id = @ctrl_id;\n"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "SC_Mark_Processed_Ctrl_Index",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "SC_Mark_OEIL_Completed",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "ctrl_id",
                                    "type": "String",
                                    "value": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "Query",
                            "text": "UPDATE dbo.ctrl_file_index\nSET\n  processed_flag = 1,\n  processed_ts   = SYSUTCDATETIME()\nWHERE ctrl_id = @ctrl_id;"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "SC_Set_Intelligent_Alert",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "SC_Set_OEIL_Bucket",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "ctrl_id",
                                    "type": "String",
                                    "value": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "NonQuery",
                            "text": "UPDATE dbo.vigie_ctrl\nSET\n    /* =========================\n       ALERT LEVEL\n       ========================= */\n    alert_level =\n        CASE\n            WHEN\n                oeil_sla_status = 'FAIL'\n                OR volume_status IN ('ANOMALY', 'LOW')\n                OR adf_sla_status <> 'OK'\n                OR synapse_sla_status <> 'OK'\n            THEN 'CRITICAL'\n\n            WHEN\n                sla_bucket = 'VERY_SLOW'\n                OR volume_status IN ('ANOMALY', 'LOW')\n            THEN 'WARNING'\n\n            WHEN\n                sla_bucket = 'SLOW'\n            THEN 'INFO'\n\n            ELSE 'NO_ALERT'\n        END,\n\n    /* =========================\n       ALERT FLAG\n       ========================= */\n    alert_flag =\n        CASE\n            WHEN\n                oeil_sla_status = 'FAIL'\n                OR volume_status IN ('ANOMALY', 'LOW')\n                OR adf_sla_status <> 'OK'\n                OR synapse_sla_status <> 'OK'\n                OR sla_bucket IN ('SLOW', 'VERY_SLOW')\n            THEN 1\n            ELSE 0\n        END,\n\n    /* =========================\n       ALERT REASON (EXPLICABLE)\n       ========================= */\n    alert_reason =\n        CASE\n            WHEN\n                oeil_sla_status = 'FAIL'\n                OR volume_status IN ('ANOMALY', 'LOW')\n                OR adf_sla_status <> 'OK'\n                OR synapse_sla_status <> 'OK'\n            THEN\n                CONCAT(\n                    'OEIL=', oeil_sla_status,\n                    ' | BUCKET=', sla_bucket,\n                    ' | VOLUME=', COALESCE(volume_status, 'NA'),\n                    ' | ADF=', COALESCE(adf_sla_status, 'NA'),\n                    ' | SYNAPSE=', COALESCE(synapse_sla_status, 'NA')\n                )\n\n            WHEN\n                sla_bucket IN ('SLOW', 'VERY_SLOW')\n            THEN\n                CONCAT(\n                    'OEIL=', oeil_sla_status,\n                    ' | BUCKET=', sla_bucket,\n                    ' | VOLUME=', COALESCE(volume_status, 'OK')\n                )\n\n            ELSE\n                'NO_ALERT'\n        END,\n\n    /* =========================\n       ALERT TIMESTAMP\n       ========================= */\n    alert_ts =\n        CASE\n            WHEN\n                oeil_sla_status = 'FAIL'\n                OR volume_status IN ('ANOMALY', 'LOW')\n                OR adf_sla_status <> 'OK'\n                OR synapse_sla_status <> 'OK'\n                OR sla_bucket IN ('SLOW', 'VERY_SLOW')\n            THEN SYSUTCDATETIME()\n            ELSE NULL\n        END\nWHERE ctrl_id = @ctrl_id;\n"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "SC_Ajuste Alert FLAG",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "SC_Set_Intelligent_Alert",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "ctrl_id",
                                    "type": "String",
                                    "value": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "NonQuery",
                            "text": "UPDATE dbo.vigie_ctrl\nSET alert_flag =\n    CASE\n        WHEN alert_level IN ('WARNING', 'CRITICAL') THEN 1\n        ELSE 0\n    END\nWHERE ctrl_id = @ctrl_id;"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            }
        ],
        "parameters": {
            "p_control_path": {
                "type": "string"
            },
            "p_ctrl_id": {
                "type": "string"
            },
            "enable_synapse_validation": {
                "type": "bool"
            }
        },
        "variables": {
            "v_bronze_data_path": {
                "type": "String"
            },
            "p_parquet_path": {
                "type": "String"
            },
            "v_bronze_path": {
                "type": "String"
            },
            "v_parquet_path": {
                "type": "String"
            },
            "v_dataset": {
                "type": "String"
            },
            "v_periodicity": {
                "type": "String"
            },
            "v_extraction_date": {
                "type": "String"
            },
            "v_control_path": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2026-02-09T18:49:22Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}