adf/PL_Oeil_Guardian.json
{
    "name": "PL_Oeil_Guardian",
    "properties": {
        "activities": [
            {
                "name": "LK_Read_CtrlJson",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set Control_Path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_Bronze_Ctrl_JSON_V2",
                        "type": "DatasetReference",
                        "parameters": {
                            "filePath": {
                                "value": "@variables('v_control_path')",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "SP_Upsert_VigieCtrl",
                "description": "Update les resultats du WebActivity surtout le rowcount et le Start en End TS",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "If_Has_RowCount_copy1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[sp_upsert_vigie_ctrl]",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "dataset": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.dataset",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "periodicity": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.periodicity",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "extraction_date": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.extraction_date",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "expected_rows": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.expected_rows",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "source_system": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.source_system",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "created_ts": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.created_ts",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "pipeline_run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_pipeline_name": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_trigger_name": {
                            "value": {
                                "value": "@pipeline().TriggerName",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "adf_start_ts": {
                            "value": {
                                "value": "@activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][1]",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "adf_end_ts": {
                            "value": {
                                "value": "@activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][2]",
                                "type": "Expression"
                            },
                            "type": "Datetime"
                        },
                        "adf_duration_sec": {
                            "value": {
                                "value": "@int(activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][3])",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "row_count_adf_ingestion_copie_parquet": {
                            "value": {
                                "value": "@string(activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][0])",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "payload_canonical": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.payload_canonical",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "payload_hash_sha256": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.payload_hash_sha256",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "payload_hash_version": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.payload_hash_version",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "v_parquet_path",
                "description": "",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "v_bronze_path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "v_parquet_path",
                    "value": {
                        "value": "@concat(\n  'standardized/',\n  activity('LK_Read_CtrlJson').output.firstRow.dataset,\n  '/year=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,0,4),\n  '/month=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,5,2),\n  '/day=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,8,2),\n  '/*.parquet'\n)\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "v_bronze_path",
                "description": "",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "SP_Set_Start_TS_OEIL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "v_bronze_path",
                    "value": {
                        "value": "@concat(\n  'bronze/',\n  activity('LK_Read_CtrlJson').output.firstRow.dataset,\n  '/period=',\n  activity('LK_Read_CtrlJson').output.firstRow.periodicity,\n  '/year=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,0,4),\n  '/month=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,5,2),\n  '/day=',\n  substring(activity('LK_Read_CtrlJson').output.firstRow.extraction_date,8,2),\n  '/data/*.csv'\n)\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "WEB_Get_LogAnalytics_Token",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Wait",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "url": "https://login.microsoftonline.com/9efa3aee-91e4-46cb-a42d-157e10be0b3f/oauth2/v2.0/token",
                    "body": "grant_type=client_credentials\n&client_id=616f9a3f-e6e8-45e8-a63e-5fd59ffcd73e\n&client_secret=__SET_IN_ADF_SECURELY__\n&scope=https://api.loganalytics.io/.default"
                }
            },
            {
                "name": "SP_Set_Start_TS_OEIL",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "LK_Read_DONE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "SP_Set_Start_TS_OEIL",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "dataset": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.dataset",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "periodicity": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.periodicity",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "extraction_date": {
                            "value": {
                                "value": "@activity('LK_Read_CtrlJson').output.firstRow.extraction_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Until_Get_ADF_Metrics",
                "type": "Until",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(equals(activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][0], null))\n\n",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "WEB_ADF_RowCount_Copie_Parquet_old",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "POST",
                                "headers": {
                                    "Authorization": {
                                        "value": "Bearer @{activity('WEB_Get_LogAnalytics_Token').output.access_token}",
                                        "type": "Expression"
                                    }
                                },
                                "url": "https://api.loganalytics.io/v1/workspaces/779df75a-6290-4ecc-a0a0-41e228dfff13/query",
                                "body": {
                                    "value": "@replace(\n'{\"query\":\"ADFActivityRun | extend up=parse_json(UserProperties) | where tostring(up.p_ctrl_id)==\\\"__CTRL_ID__\\\" | where Status==\\\"Succeeded\\\" | extend o=parse_json(Output) | extend rc=tolong(o.rowsCopied) | where isnotnull(rc) | summarize row_count_adf_ingestion_copie_parquet=max(rc), adf_start_ts=min(Start), adf_end_ts=max(End) | extend adf_duration_sec=datetime_diff(\\\"second\\\",adf_end_ts,adf_start_ts) | project row_count_adf_ingestion_copie_parquet,adf_start_ts,adf_end_ts,adf_duration_sec\"}',\n'__CTRL_ID__',\npipeline().parameters.p_ctrl_id\n)\n",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "If_Has_RowCount",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "WEB_ADF_RowCount_Copie_Parquet_old",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@not(equals(activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][0], null))\n\n",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Attend 30 sec",
                                        "type": "Wait",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "waitTimeInSeconds": 30
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "timeout": "00:05:00"
                }
            },
            {
                "name": "Set Control_Path",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "SP_Try_Start_OEIL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "v_control_path",
                    "value": {
                        "value": "@concat(\n  split(pipeline().parameters.p_ctrl_id, '_')[0],\n  '/period=',\n  split(pipeline().parameters.p_ctrl_id, '_')[2],\n  '/year=',\n  split(split(pipeline().parameters.p_ctrl_id, '_')[1], '-')[0],\n  '/month=',\n  split(split(pipeline().parameters.p_ctrl_id, '_')[1], '-')[1],\n  '/day=',\n  split(split(pipeline().parameters.p_ctrl_id, '_')[1], '-')[2],\n  '/ctrl/',\n  pipeline().parameters.p_ctrl_id,\n  '.ctrl.json'\n)\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SP_Try_Start_OEIL",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "SP_Try_Start_OEIL",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@pipeline().parameters.p_ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "SP_Verify_Ctrl_Hash_V1",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "SP_Upsert_VigieCtrl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "SP_Verify_Ctrl_Hash_V1",
                    "storedProcedureParameters": {
                        "ctrl_id": {
                            "value": {
                                "value": "@pipeline().parameters.p_ctrl_id",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSQL_Vigie",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "If le HASH du CTRL est OK",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "LK_Check_Hash_Result",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('LK_Check_Hash_Result').output.firstRow.payload_hash_match, true)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "CTRL_HASH_MISMATCH",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": "CTRL_HASH_MISMATCH",
                                "errorCode": "CTRL HASH MISMATCH - CONTROL FILE TAMPERED"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Execute Pipeline OEIL CORE",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "PL_Oeil_Core",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "p_ctrl_id": {
                                        "value": "@pipeline().parameters.p_ctrl_id",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "LK_Check_Hash_Result",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "SP_Verify_Ctrl_Hash_V1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "SELECT payload_hash_match\nFROM dbo.vigie_ctrl\nWHERE ctrl_id = '@{pipeline().parameters.p_ctrl_id}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQL_VigieCtrl",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "WEB_ADF_RowCount_Copie_Parquet",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "WEB_Get_LogAnalytics_Token",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "headers": {
                        "Authorization": {
                            "value": "Bearer @{activity('WEB_Get_LogAnalytics_Token').output.access_token}",
                            "type": "Expression"
                        }
                    },
                    "url": "https://api.loganalytics.io/v1/workspaces/779df75a-6290-4ecc-a0a0-41e228dfff13/query",
                    "body": {
                        "value": "@replace(\n'{\"query\":\"ADFActivityRun | where TimeGenerated > ago(6h) | where PipelineName == \\\"PL_Bronze_To_Standardized_Parquet\\\" | where ActivityType == \\\"Copy\\\" | where Status == \\\"Succeeded\\\" | extend up = parse_json(UserProperties) | where tostring(up.p_pipeline_run_id) == \\\"__BRONZE_RUN_ID__\\\" | extend o = parse_json(Output) | extend rc = tolong(o.rowsCopied) | where isnotnull(rc) | summarize row_count_adf_ingestion_copie_parquet = max(rc), adf_start_ts = min(Start), adf_end_ts = max(End) | extend adf_duration_sec = datetime_diff(\\\"second\\\", adf_end_ts, adf_start_ts) | project row_count_adf_ingestion_copie_parquet, adf_start_ts, adf_end_ts, adf_duration_sec\"}',\n'__BRONZE_RUN_ID__',\n activity('LK_Read_DONE').output.firstRow.bronze_run_id\n)\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Wait",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "v_parquet_path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 60
                }
            },
            {
                "name": "If_Has_RowCount_copy1",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "WEB_ADF_RowCount_Copie_Parquet",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(equals(activity('WEB_ADF_RowCount_Copie_Parquet').output.tables[0].rows[0][0], null))\n\n",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Fail ADF LOG TROP LONG",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": "Fail ADF LOG TROP LONG",
                                "errorCode": "Fail ADF LOG TROP LONG YO"
                            }
                        }
                    ]
                }
            },
            {
                "name": "LK_Read_DONE",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "LK_Read_CtrlJson",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_JSON_READ_DONE",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_path_done": {
                                "value": "@pipeline().parameters.p_done_path",
                                "type": "Expression"
                            }
                        }
                    }
                }
            }
        ],
        "parameters": {
            "p_control_path": {
                "type": "string"
            },
            "p_ctrl_id": {
                "type": "string"
            },
            "p_bronze_run_id": {
                "type": "string"
            },
            "p_done_path": {
                "type": "string"
            }
        },
        "variables": {
            "v_bronze_data_path": {
                "type": "String"
            },
            "p_parquet_path": {
                "type": "String"
            },
            "v_bronze_path": {
                "type": "String"
            },
            "v_parquet_path": {
                "type": "String"
            },
            "v_dataset": {
                "type": "String"
            },
            "v_periodicity": {
                "type": "String"
            },
            "v_extraction_date": {
                "type": "String"
            },
            "v_control_path": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2026-02-17T21:32:10Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
